main{
	background: #eb345e url('../img/2000.jpg') no-repeat;
	background-size: cover;
}
article{
	background-color: rgba(217, 185, 91, 0.6);

}
h1{
	color: aqua;
	font-size: 2.5em;
	font-family: 'M PLUS 2', sans-serif;
	font-style: italic;
	text-transform: uppercase;
}
h2{
	color: tomato;
	font-size: 2em;
	font-family: Tahoma;
}
h1,h2{
	text-transform: uppercase;
	text-align: center;
}
p{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-align: justify; /*left,right, center, justify*/
	line-height: 2;
}
/*Table styling*/
table{
	border-collapse: collapse;
	width: 100%;
}
th, td{
	border: 1px solid #000;
}
tr:nth-child(2n+2){
	background-color: #eee;
}
tr:hover{
	background-color: red;
}




